@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;700&display=swap');



.layout {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }

  .header { grid-area: header;
    background-color: #333;
    
  
  
  }
  .main { grid-area: main; display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del contenedor principal como el 100% del viewport height */
    background-color: black; /* Cambia el color de fondo si es necesario */
  
  
  
  }
  .footer { grid-area: footer; 
    background-color: #333;
  
  
  
  }

  @media screen and (max-width: 768px) {
    .layout {
      grid-template-columns: 1fr;
    }
  }

  /* Estilos generales */
.container {
  width: 100%;
}


.social-media{
  color: white;
}
/* Aplica la imagen de fondo al body */




/* Cambia el color de fondo de los demás acordeones a otro color */
.custom-accordion .accordion-item:nth-child(3),
.custom-accordion .accordion-item:nth-child(4),
.custom-accordion .accordion-item:nth-child(5) {
  background-color: #fafafd; /* Cambia el color de fondo para los demás acordeones (azul en este caso) */
}



/* Cambia el color del texto dentro del contenido del acordeón a negro */
.custom-accordion .accordion-body {
  color: #000; /* Color del texto negro dentro del contenido del acordeón */
}
/* Tipografia de titulo */
.custom-h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 27px; 
  font-weight: 600; /* Ejemplo de peso de fuente personalizado (600 es el peso semibold) */
}

/* Definir la fuente Open Sans para custom-p */
.custom-p {
  font-family: 'Open Sans', sans-serif;
  /* Puedes ajustar otros estilos de fuente si es necesario, como tamaño y peso de la fuente. */
  font-size: 14px; /* Ejemplo de tamaño de fuente personalizado */
  font-weight: 400; /* Ejemplo de peso de fuente personalizado (400 es el peso regular) */
  
}
/* Ejemplo de media query para tamaños de pantalla más pequeños */
@media (max-width: 768px) {

}




/* Estilos para el video de fondo */
.video-container {
  position: relative;
 overflow: hidden;
  width: 100%;
  height: 100vh; /* Cambia la altura según tus preferencias */
  
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
body {
  background-image: url('Img/fondo.png.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el body */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
}

/* Aplica un desenfoque al fondo sin afectar el contenido */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  backdrop-filter: blur(5px); /* Aplica un desenfoque al fondo */
}
/* Estilos para los botones de plataforma */
.platform-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%; /* Centra verticalmente los botones en el video */
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.platform-button {
  margin: 10px; /* Espaciado entre los botones */
  background-color: #000; /* Color de fondo negro */
  padding: 24px; /* Espaciado interno de los botones */
  border-radius: 5px; /* Borde redondeado */
}

.platform-button img {
  width: 96px; /* Ancho de las imágenes de plataforma */
  height: auto; /* Altura automática para mantener la proporción */
  display: block;
  margin: 0 auto; /* Centra horizontalmente las imágenes */
}
.center-image img {
  width: 88%; /* Tamaño de la imagen */
  height: auto;
  transform: translateY(-9%);
  
 
}


.center-image {
  text-align: center;
  margin-top: 40px;
 
}

/* Establece el color de fondo inicial de los botones */
.platform-button {
  background-color: #000; /* Color de fondo negro */
  padding: 10px; /* Espaciado interno de los botones */
  border-radius: 8px; /* Borde redondeado */
  transition: background-color 0.3s, backdrop-filter 0.3s; /* Agrega transiciones suaves al cambio de color de fondo y efecto de desenfoque */
}

/* Cambia el color de fondo a amarillo cuando se hace hover */
.platform-button:hover {
  background-color: #ffd700; /* Color de fondo amarillo */
  backdrop-filter: blur(5px); /* Aplica un efecto de desenfoque al botón cuando se hace hover */
}
/* Estilos para el contenedor principal */
.main {
  position: relative;
}




/* Estilos para los botones de plataforma */
.platform-buttons {
  .platform-buttons {
    display: flex;
    flex-wrap: wrap; /* Los botones se envuelven a la siguiente línea cuando no caben en la pantalla */
    justify-content: center; /* Centra horizontalmente los botones */
    gap: 10px; /* Espaciado entre los botones */
  }
}
